<div class="container">
    <div class="row">
        <div class="col s12">
            <h3 class="center">MANTENIMIENTO</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="imgContainer">
                <img width="100%" src="../../../assets/img/home-banner-top.png" alt="">
            </div>
        </div>
        <div class="col s12 m6">
            <div class="row">
                <div class="col s12 center flow-text valign-wrapper">
                    ¿Requieres agregar desarrollos puntuales a tu software? nvifor es la solucion mas economica del mercado.
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <h5 class="center">CONTÁCTANOS</h5>
                </div>
                <div class="col s12 m4 valign-wrapper">
                    <p><b>Desarrollo a medida</b></p>
                </div>
                <div class="col s12 m4 center">
                    <div class="col s12 center rowPlan blue lighten-3">
                        <ul>
                            <li> Agregar </li>
                            <li> Reparar </li>
                            <li> Suprimir </li>
                        </ul>
                    </div>
                </div>
                <div class="col s12 m4 center">
                    <p>*Por herramienta de software</p>
                </div>
            </div>
            <div class="col s12 center">
                <button class="btn blue darken-4">SOLICITA COTIZACIÓN</button>
            </div>
        </div>
    </div>
    <div class="row reverseFlex">
        <div class="col s12 m6">
            <div class="imgContainer">
                <img width="100%" src="../../../assets/img/coding.jpg" alt="">
            </div>
        </div>
        <div class="col s12 m6">
            <div class="row">
                <div class="col s12 center flow-text valign-wrapper">
                    Tienes un software desarrollado por terceros y no te brinda un mantenimiento eficiente, adquiere con nvifor el plan cobertura el cual ofrece mantenimiento constante de forma oportuna.
                </div>
            </div>
            <div class="row">
                <div class="col s12 center">
                    <h5>Plan de cobertura <br> 100usd/Mes
                    </h5>
                </div>
                <div class="row">
                    <div class="col s12 m4 valign-wrapper">
                        <p><b>Mantenimiento</b></p>
                    </div>
                    <div class="col s12 m4 center">
                        <div class="col s12 center rowPlan blue lighten-3">
                            <ul>
                                <li> Evolución del software </li>
                                <li> Soporte técnico </li>
                                <li> Versiones del código </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col s12 m4 center">
                        <p>*Por herramienta de software</p>
                    </div>
                </div>
                <div class="col s12 center">
                    <button class="btn blue darken-4 ">SOLICITA COTIZACIÓN</button>
                </div>
            </div>
        </div>
    </div>
</div>