<div id="about" class="blue lighten-5">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h5 class="center">
                    Nvifor es una desarrolladora de presencia online, en nuestro proceso empleamos el concepto economia de escala, permitiendonos de esta manera ofrecer planes economicos a nuestros clientes.
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <h3 class="center">DESARROLLAMOS</h3>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4 center">
                <div class="skillImg">
                    <img src="../../../../assets/img/webdesign.png" alt="">
                </div>
                <br>
                <h5>Página web</h5>
            </div>
            <div class="col s12 m4 center">
                <div class="skillImg">
                    <img src="../../../../assets/img/ecommerce.png" alt="">
                </div>
                <br>
                <h5>E-Commerce</h5>
            </div>
            <div class="col s12 m4 center">
                <div class="skillImg">
                    <img src="../../../../assets/img/business-img.png" alt="">
                </div>
                <br>
                <h5>Apllicación móvil</h5>
            </div>
        </div>
    </div>
</div>