<div class="row" id="hero">
    <div class="col s6">
        <div class="container">
            <div class="row valign-wrapper full-heigth">
                <div class="col s12">
                    <h2>CONSTRUIMOS NEGOCIOS <span class="primary-tx">EN LA NUBE</span></h2>
                    <h4>Desarrollamos soluciones de software para necesidades específicas para tu empresa</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col s6">
        <div class="imgContainerHero">
            <img src="../../../../assets/img/heroimg.webp" alt="">
        </div>
    </div>
</div>