<div class="container">
    <div class="row valign-wrapper">
        <div class="col s12 m6">
            <div class="col s12">
                <h5 class="center">Eres una persona emprendedora y necesitas presencia web para potencializar tu idea de negocio, con la finalidad de captar clientes.</h5>
            </div>
            <div class="col s12 center">
                <button [routerLink]="['/plan/emprendedor']" class="btn blue darken-4">Ver plan</button>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="imgContainerService">
                <img src="../../../../assets/img/emprendedor.png" alt="">
            </div>
        </div>
    </div>
    <div class="row valign-wrapper reverseFlex">
        <div class="col s12 m6">
            <div class="col s12">
                <h5 class="center">Tienes una micro empresa activa y quieres afianzar tu presencia en el mercado mejorando la interaccion con tus clientes.</h5>
            </div>
            <div class="col s12 center">
                <button [routerLink]="['/plan/micro_empresa']" class="btn blue darken-4">Ver plan</button>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="imgContainerService">
                <img src="../../../../assets/img/section_08_1.png" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h3 class="center">La presencia web ya no es un lujo, sino una necesidad.</h3>
        </div>
    </div>
</div>